<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <description>ask user for update constraints, and run updates.</description>
        <servlet-name>DoUpdate</servlet-name>
        <servlet-class>org.hapiserver.DoUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoReport1</servlet-name>
        <servlet-class>DoReport1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoUpdate</servlet-name>
        <url-pattern>/DoUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoReport1</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>HAPI_VERIFIER_HOME</param-name>
        <param-value>/tmp/hapiVerifier/</param-value>
    </context-param>
</web-app>
